{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "modules": "systemjs",
        "corejs": "3.6.5"
      }
    ],
    [{ builtIns: false }]
  ],
  plugins: ["@babel/plugin-transform-modules-commonjs"]
}
