{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "modules": "systemjs",
        "corejs": "3.6.5"
      }
    ],
    ["minify", { "builtIns": false }]
  ],
  "plugins": ["transform-custom-element-classes", "transform-es2015-classes", "@babel/plugin-transform-modules-commonjs"]
}
