.pay-theory-card-badge {
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 50%;
	height: 30px;
	width: 48px;
	align-self: center;
	margin: 0.5em;
}

#pay-theory-badge-wrapper {
	display: flex;
	align-content: center;
	justify-content: center;
}

.pay-theory-card-visa {
	width: 48px;
	background-color: #000;
	background-image: url(card-images/visa-badge-icon.svg);
}

.pay-theory-card-mastercard {
	background-image: url(card-images/mastercard-badge-icon.svg);
}

.pay-theory-card-amex {
	background-image: url(card-images/amex-badge-icon.svg);
}

.pay-theory-card-discover {
	background-image: url(card-images/discover-badge-icon.svg);
}

.combined {
	justify-content: flex-start;
	align-items: center;
}

#field-wrapper-number {
	min-width: 213px;
	flex-grow: 1;
}

#field-wrapper-expiration_date {
	min-width: 75px;
}

#field-wrapper-security_code {
	min-width: 75px;
}

#field-wrapper-address-postal_code {
	min-width: 75px;
}

.field-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.field-wrapper iframe {
	width: 100%;
	display: inline-block;
	min-height: 48px;
	max-height: 2em;
	border: none;
}

.pay-theory-field {
	display: flex;
	flex-direction: row;
}

.pay-theory-field div {
	display: flex;
	flex-grow: 1;
}

.framed {
	display: flex;
	flex-direction: column;
}
