#pay-theory-badge-wrapper {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.combined {
	justify-content: flex-start;
	align-items: center;
}

#field-wrapper-card-number {
	min-width: 213px;
	flex-grow: 1;
}

#field-wrapper-card-exp {
	min-width: 75px;
}

#field-wrapper-card-cvv {
	min-width: 75px;
}

#field-wrapper-address-postal_code {
	min-width: 75px;
}

.field-wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.field-wrapper iframe {
	width: 100%;
	display: inline-block;
	border: none;
	max-height: 72px;
	min-height: 18px;
	height: auto;
}

.pay-theory-field {
	display: flex;
	flex-direction: row;
	width: auto;
	height: 100%;
}

#pay-theory-credit-card {
	width: 400px;
}

#pay-theory-credit-card-number {
	width: 340px;
}

.pay-theory-field div {
	display: flex;
	flex-grow: 1;
}

.framed {
	display: flex;
	flex-direction: column;
	height: 100%;
}
